<footer>
<div style="position: fixed; bottom: 0; left: 0; width: 100%; background-color: #fff; text-align: center; font-size: 10px; padding: 5px 0;">
  <div style="display: inline-flex; align-items: center; justify-content: center; text-align: left;">
    <img src="https://beian.mps.gov.cn/img/logo01.dd7ff50e.png" style="width: 15px; height: 15px; margin-right: 5px;">
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=14110202000164" style="text-decoration: none; color: orange;" rel="noopener">
      晋公网安备14110202000164号
    </a>
    <span style="margin: 0 10px;">|</span>
    <a target="_blank" href="http://beian.miit.gov.cn/" style="text-decoration: none; color: orange;" rel="noopener">
      ICP备案：晋ICP备2023021823号-2
    </a>
  </div>
</div>
</footer>
